<%= form_for([:user, @entity, @photo].compact, :html => { :multipart => true, :id => "form-imageupload"  }) do |f| %>
   
    <div class="file-upload button__form button__form--full">
      <%= f.file_field :image, :class => "upload " %>
      <div class="text__button_form">UPLOAD FILE FROM COMPUTER
      </div>
      
    </div>
   <%= link_to "SKIP", user_path, :class => "button__form button__form--small button__form--gray", method: :get  %>
  <% end %>
