<div class="bus">
  <div class="thirds bus__top">
    <div class="thirds__box bus__rand">

    </div>
    <div class="thirds__box bus__rand">

    </div>
    <div class="thirds__box bus__rand">

    </div>
  </div>
</div>