<div ng-controller="BusinessController">
  <div class="bus">
    <div class="thirds bus__top">

      <div class="thirds__box bus__rand" ng-repeat="business in businesses" ng-click="randomClick(business)">
        <div class="bus__rand-title">
          {{business.name}}
        </div>
        <img ng-src={{business.thumb}}></img>
      </div>
    </div>
    <div class="bus__search">
      <form ng-submit="submit()">
        <input class="form-control bus__search-input" type="text" ng-model="query" name="query" placeholder="Person, business, hit enter"/>
      </form>
    </div>
    <div class="bus__alph">
      <% alphabet.each_char do |c| %>
        <%= link_to " #{c} ", businesses_path(first_letter: c) %>
      <% end %>
    </div>
    <div class="bus__list">
      <div ng-repeat="business in businessList">
        <div class="bus__item">
          <img ng-src={{business.thumb}}></img>
          {{business.name}}
        </div>
      </div>
    </div>
  </div>
</div>