<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 caption__reg">
      With a basic user account you can 
          search veteran owned businesses 
          and receive news updates from 
          businesses you follow.
    </div>
    <div class="col-sm-6">

      <%= render 'layouts/signup_form' %>
      
    </div>

    <div class="col-sm-3 caption__reg">
    
    </div>
  </div>
</div>
