<div class="container-fluid">
  <div class="row">
    <div style="position: relative" class="col-sm-2">
      <div class="caption__reg">
      With a basic user account you can 
          search veteran owned businesses 
          and receive news updates from 
          businesses you follow.
        </div>
    </div>
    <div class="col-sm-8">

      <%= render 'layouts/signup_form' %>
      
    </div>

    <div class="col-sm-2">
    
    </div>
  </div>
</div>
