<div class="container-fluid">
  <div class="row row-centered">
    <div class="col-sm-3 col-centered caption__reg">
      With a basic user account you can 
          search veteran owned businesses 
          and receive news updates from 
          businesses you follow.
    </div>
    <div class="col-sm-6 col-centered">
      <%= render 'layouts/signup_form' %>
    </div>
  </div>
</div>
