<h2>My Businesses</h2>
<ul>
  <% for owned_business in @businesses %>
    <div class="row">
      <div class="col-sm-3">
        <%=link_to owned_business.name, me_business_path(owned_business)%>
      </div>
    </div>
  <% end %>

  <%= link_to "Add new business", new_me_business_path %>
</ul>
