<div class="container-fluid">
  <div class="row row-centered">
    <div class="col-sm-3 col-centered caption__reg">
 Do you own a business? <br><br>
 If so, create a a business profile.<br><br>
 All business profiles will be searchable
 in our databse so that you can reach
 new customers and post updates to
 NextMission users.
</div>
<div class="col-sm-6 col-centered">
<%= render 'layouts/business_signup_form' %>
</div>
</div>