  <div class="feed__content-title">
    <div>
      <%= image_tag "default_business.png" %>
 
    </div>
    <div class="feed_content-follow">
   
    </div>
  </div>
  <div class="feed__content-top">
  
  </div>
  <div class="feed__content-body">
  </div>
  <div class="feed__content-corner">
  
  </div>
