<form 
  ui-keypress="{13:'myFunc($event)'}" 
  novalidate 
  class="new_post ng-pristine ng-valid" 
  name="entryForm"
>

  <div style="text-align: center" class="feed__entry-inner-main">
    <input ng-model="newPost.type" type="hidden">
    <div style="text-align: center" ng-include="'forms/post/content.html'"></div>


   <!--  <div ng-include="'forms/post/button.html'">

    </div> -->
     <button class="feed__button button__btn button__btn--orange" name="commit" style=" width: 100px; margin: auto !important" ng-click="validationHandler(object, entryForm, submitHandler)">
      {{buttonTitle || "Post"}}
    </button>

    </div>
    <!-- <div class="feed__form-bottom"> -->

     
    <!-- </div> -->
</form>