<div class="user-prof">
  <div class="user-prof__cover-photo">
    <div class="bus-prof__cover-photo">
      prof photo
      <%= render partial: "me/shared/feed_input", :locals => {
          entity: @default_entity,
          opt: {}
        } %>
      <div class="bus-prof__follow">
        <%= follow_button(current_user, @default_entity, :class =>  "button__form button__login", :style => "width: auto !important") %>
      </div>
    </div>
    <div class="feed">
      <% if !@posts.empty? %>
        <%= render :partial => "me/posts/list" %>
      <% else %>
        This guy doesn't have any posts yet!
      <% end %>
    </div>
  </div>
</div>
