.thirds{
  position: relative;
  margin: auto;
}


.thirds__box{
  // // float: left;
  display: inline-block;
  // height: 150px;
  width: 31%;
  height: 100%;

  overflow: hidden;
  // background: white;
  // margin: 25px;
  // clear: both;

}

.thirds__box img{ 
  height: 100%;
  // width: 100%;

}

.halves{
  position: relative;
  margin: auto;
}


.halves__box{
  display: inline-block;
  // height: 150px;
  width: 48%;
  height: 100%;

  overflow: hidden;
}