.thirds{
  position: relative;
  margin: auto;
}


.thirds__box{
  // // float: left;
  display: inline-block;
  // height: 150px;
  width: 31%;
  overflow: hidden;
  // background: white;
  // margin: 25px;
  // clear: both;

}

.thirds__box img{ 
  height: 100%;
  // width: 100%;

}

.thirds__box--left{

}

.thirds__box--mid{

}

.thirds__box--right{

}
