.thirds{
  position: relative;
  margin: auto;
}

.thids div{
  overflow: auto;
}

.thirds__box{
  // // float: left;
  display: inline-block;
  // height: 150px;
  width: 31%;
  // height: 100%;
  float: left;
  overflow: auto;
  // background: white;
  // margin: 25px;
  // clear: both;

}

.thirds__box img{ 
  height: 100%;
  // width: 100%;

}

.halves{
  position: relative;
  margin: auto;
  height: 100%;
}


.halves__box{
  // display: inline-block;
  // height: 150px;
  float: left;
  width: 48%;
  height: 100%;

  overflow: auto;
}

.halves__box-row{
  height: 45%;
}


.column-left{ float: left; width: 30%; }
.column-right{ float: right; width: 30%; }
.column-center{ display: inline-block; width: 30%; }