<div ng-controller="PostController">
  <div class="feed">

    <% if true %>
      <div ng-include="'feed_head_outer.html'"></div>
    <% end %>
    
    <div ng-repeat="entity in displayList | orderBy:'id': true">
      <div class="feed__content-outer">
        <div class="feed__content">

          <div class="feed__content-title">
            <div class="thumb">
              <img ng-src="{{entity.thumb}}" >
            </div>
            <div class="feed_content-follow">
              FOLLOW LINK
            </div>
          </div>
          <div class="feed__content-top">
            {{entity.name}}
          </div>
          <div class="feed__content-body">
            {{entity.content}}
          </div>
          <div class="feed__content-corner">
            COMMENT
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
