<div ng-controller="TestController">
  Hello {{fuckface}}
</div>
<div class="feed">
  
  <div class="feed__entry">
    <%= render layout: "me/shared/feed_input", :locals => {
      entity: @default_entity,
      opt: {}
    } do %>
      <%= render partial: "me/news_feed/form", locals: {opt: {}} %>
    <% end %>

  </div>
  <!-- <div class="contents__feed"> -->
  <%= render :partial => "me/posts/list", locals: {
    posts: @posts,
    opt: {}
  } %>
</div>
<!-- </div> -->
