// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table__admin td{
  line-height: 2em !important;
}

.table__admin{

}

.table__admin tr:last-child td:first-child {
  
    border-radius:10px !important;
}

.admin__container{
  width: 75%;
}

.admin__cover{
  height: 200px; 
  width: 735px;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.admin__cover img{
  height: 100%;
  width: 100%;
}