@import "nm_root";

.branch__outer{
  position: relative;

  &:hover{
  }
}

.branch__outer-abs{
  position: absolute;
  height: 110%;
  margin: -5% 0 0 -5%;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;

  width: 110%;
  background: rgba(0,0,0,.3);

}

.branch__outer img{
  z-index: 0;
}

.nm__x--branch{

  color: $orange-color;
  z-index: 101;

}
.branch__outer .branch__outer-abs, .branch__outer .nm__x{
    display: none;
    margin-right: 2px;
}

.branch__outer:hover .branch__outer-abs,  .branch__outer:hover .nm__x{
  display: block;
  cursor: pointer;
}