@import "nm_root";

.navbar-inverse{
  background: $gray-color !important;
  color: white !important;
  height: $top-bar-height !important;
}

.navbar-inverse a{
  font-family: 'lato', Helvetica, Arial, sans-serif !important;
  color: white;
}

.side-nav{
  height: 100% !important;
  position: static;
}

.side-nav li{
  // padding: none !important
  width: 100% !important;
}

.side-nav li a{
  // padding: none !important
  width: 100% !important;
}
.navbar-right{
  line-height: 2em;
}
.navbar-right li a{
  line-height: 3em;

  color: white !important;
}

.navbar-left{
  padding: 5px 50px;
}

.badge{
  background: $orange-color;
}

// .navbar-nav.side-nav > li {
//   float: none;
// }