.bus-prof{
  width: 98%;
}

.bus-prof__cover-photo{
  margin: auto;
  height: 250px;
  background: white;
  margin-bottom: 20px;
  position: relative;
}

.bus-prof__follow{
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.bus-prof__info{
  height: 100px;
  background: white;
  margin-bottom: 20px;

}