@import "nm_root";

.bus{

}

.bus__top{
  overflow: auto;
}

.bus__rand{
  background: white;
  height: 150px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.bus__search{
  width: 250px;
  margin: 15px;
}

.bus__item{
  height: 65px;
  margin: 5px;
  width: 100%;
  background: white;
  padding: 2px;
}

.bus__item img{
  float: left;
  height: 100%;
}