.bus-prof{
  width: 98%;
}

.bus-prof__cover-photo{
  margin: auto;
  height: 250px;
  background: white;
  margin-bottom: 20px;
  position: relative;
}

.bus-prof__follow{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.bus-prof__info{
  height: 100px;
  background: white;
  margin-bottom: 20px;

}

.bus-prof__list{
  list-style-type: none;
}

.bus-prof__description{
  height: 70px;
  width: 100%;
}