@import "nm_root";

.bus{

}

.bus__top{
  overflow: auto;
}

.bus__rand{
  background: white;
  height: 150px;
  margin: 5px;
  text-align: center;
}

.utils__hover--orange:hover{
  box-shadow: 0px 0px 5px 0px  $orange-color;
  cursor: pointer;
}

.bus__rand:hover{
}

.bus__search{
  width: 250px;
  margin: 15px;
}

.bus__none{
  height: 90px;
  margin: 5px;
  width: 100%;
  background: white;
  // padding: 10px;
  font-size: 1em;
  text-align: center;
  line-height: 90px;
}

.bus__item{
  height: 65px;
  margin: 5px;
  width: 100%;
  background: white;
  padding: 2px;
}

.bus__item-name{
  font-size: 1.4em;
  text-align: left;
  margin-left: 100px;
}

.bus__alph-letter{
  padding: 0 4px;
}

.bus__item img{
  float: left;
  height: 100%;
}