@import "nm_root";

.button{

}

.button__btn{
  border: none;
  border-radius: 3px;
  outline: none;
  display: relative;
  // width: 60%;
  display: block;
  font-family: 'helvetica', sans-serif !important;
  font-weight: 100;
  color: white !important;
  text-align: center;
  // margin: 10px auto !important;
  letter-spacing: .1em;
  padding: 7px !important;
}

.button__btn--100{
  width: 100px;
}

.button__btn--orange{
  background: $orange-color;

}

.button__btn--gray{
  background: $gray-color;
}

.button__btn--light-gray{
  background: $light-gray-color;
}


.button__btn--left{
  // position: absolute;
  left: 0
}

.button__btn--right{
  position: absolute;
  // right: 15px;
  right: 0;
}


.button__btn--right--padding{
  position: absolute;
  // right: 15px;
  right: 15px;
}