@import "nm_root";
.html, body{ 
  height: 100%;
  width: 100%;
  margin-bottom:70px;
}

.table--white{
  background:white;
}

.thumb img{
  height: 100%;
  max-height: 80px;
  max-width: 80px;
}

.nm__list{
  font-family: helvetica;
  list-style-type: none;
  padding: 0;
  margin: 0 1px; 
  border-top: 1px solid $lighter-gray-color;

  &:hover{
    outline: 1px solid orange-color(.5);
  }
  // border: 1px solid $light-gray-color;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}

.nm__bold{
  font-weight: bold;
}
.nm__item-name{
  padding: 5px;
}

.nm__selected{
  outline: 1px solid orange-color(1);
}

.nm__list-item{
  background: white;
  // height: 55px;
  padding: 5px; 
  margin: 0;
}

.thumb-small img{
  height: 65px;
  width: 65px;

}

.nm__map{
  width: 400px; 
  height: 400px;
}

.nm__inline{
  display: inline-block;
}
.nm__map--small{
  height: 200px;
}

.error{
  color: $red-color;
}

.center-text{ 
  text-align: center;
}

.left{ 
  float: left;
}

.nm__link{
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}

.top-left{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

}

.nm__right{
  float: right;
}

.top-right{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}

.top-right--padding{
  top: 15px;
  right: 15px;
}