@import "nm-base";

.photo-up{
  height: 200px;
  border: 2px solid $light-gray-color;
  margin: auto;
  line-height: 200px;
  text-align: center;
}

.photo-up--drag{
  background: orange-color(.3);
}