.top__search{
  width: 100px;
}

.profile__right-box{
  width: 100%;
  margin: 0 0 40px 20px;
  background: white;
  text-align: center;
}

.profile__right-box--padding{
   padding: 15px;

}

.profile__right-box--large{
  height: 200px;

}

.profile__right-box--small{
  height: 150px;
}

.profile__box-title{
  font-size: 1.8em;
}

.prof__flag{
  width: 100%;
  text-align: right;
}