@import "nm-base";
.profile__photo{
  // float: left;

  margin: auto;
  height: 100%;
  padding: 25px;
  position: relative;
}

.profile__photo img{
  height: 100%;
  // float: left;
}

.profile__photo-edit{
  top: 3px;
  left: 25px;
  font-size: 1.2em;
  position: absolute;
  z-index: 100;
}

.top__search{
  width: 100px;
}

.profile__head{
  height: 200px;
  position: relative;

  background-color: white;
  margin-bottom: 15px;
  // background-size: cover !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.profile__head--white-text{
  color: white;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
}

.profile__head--white-text a{
  color: white;
  text-shadow: none;
}

.profile__head-link--no-cover{
  color: black;
}

.profile__head-link{
  font-size: 1.4em;

}
.profile__right-box{
  width: 100%;
  margin: 0 0 20px 0px;
  background: white;
  text-align: center;
}

.profile__right-button--right{
  margin-left: 100px;
}
.profile__right-box--padding{
   padding: 15px;

}

.profile__right-title-row{
  position: relative;
  // padding: 5px;
}

.profile__right-title{
  line-height: .6em;
  font-size: 1.7em;
  margin-left: 15px;
}
.profile__right-box--large{
  height: 200px;

}

.profile__right-box--small{
  min-height: 150px;
}

.profile__box-title{
  font-size: 1.8em;
}

.prof__flag{
  width: 100%;
  text-align: right;
}

.profile__secondary{
    min-height: 180px;
    overflow: auto;
    background: white;
    margin: 15px 0;
    padding: 15px;
}