.top__search{
  width: 100px;
}

.profile__head{
  height: 200px;
  position: relative;

  background-color: white;
  margin-bottom: 15px;
  // background-size: cover !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.profile__head--white-text{
  color: white;
}

.profile__head-link--no-cover{
  color: black;
}

.profile__head-link{
  font-size: 1.4em;

}
.profile__right-box{
  width: 100%;
  margin: 0 0 40px 20px;
  background: white;
  text-align: center;
}

.profile__right-box--padding{
   padding: 15px;

}

.profile__right-box--large{
  height: 200px;

}

.profile__right-box--small{
  height: 150px;
}

.profile__box-title{
  font-size: 1.8em;
}

.prof__flag{
  width: 100%;
  text-align: right;
}

.profile__secondary{
    min-height: 180px;
    overflow: auto;
    background: white;
    margin: 15px 0;
    padding: 15px;
}