@media (max-width: 1044px) {

  .login__top{
    display: none !important;
  }
}



@media (max-width: 769px) {
  .lnd{
    margin: 0 !important;
    width: 100% !important;
  }

  .lnd__item-title i{
    margin: 0 20px !important;
  }
 
  .logo__temp{
    margin: auto;
    display: block !important;
    position: static !important;
    padding: 10px 0 !important;
  }

  .text__temp{
    margin: auto;
    display: block !important;
    float: none !important;
    position: static !important;
    padding: 45px !important;
    text-align: center;
    width: 100% !important;
    // text-align: middle;
  }

  .email-input-container__temp{
    width: 100% !important;
    margin: 70px auto !important;
    padding: 20px;

  }

  .body__info-bottom-temp{
    
    color: white !important;

  }
}

@media only screen 
    and (max-device-width : 480px)
    {
      .text__temp{
        font-size: 1em !important;
      }

      .email-input-container__temp{
        margin: 0 auto !important;
      }
      }


