.selection{
  background: #ebeef0;;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 100px;
}

.selection-menu{
  background: white;
  margin: auto;
  height: 65%;
  width: 65%;
  padding-top: 25px;
}

.selection-menu-unit{
  margin: 10px auto;
  width: 75%;
  height: 75px;
  // background: ;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(231, 231, 231);
}

.selection-menu-unit__side{
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
}

.selection-menu-unit__left{
  width: 60%;
  padding: 10px;
  background: rgb(248, 248, 248);

}

.selection-menu-unit__right{

}

.selection-menu-unit--inactive{
  background: gray;
}