.checkboxFive {
  width: 25px;
  margin: 0px 20px 10px 10px;
  position: relative;
  display: inline-block;
}

.checkboxFive label {
    text-align: left !important;

  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
    left: 0;
  background: #eee;
  border:1px solid #ddd;
}

.checkboxFive label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 8px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1;
}