.user-prof{
  width: 98%;
}
.user-prof__cover-photo{
  margin: auto;
  height: 250px;
  background: white;
  margin-bottom: 20px;
  position: relative;
}

.prof__message{
 position: absolute; 
 bottom: 10px;  
 left: 10px 
}
