@import "nm_root";

.user-prof{
  width: 98%;
}

.user-prof__head{
  height: 200px;
  position: relative;

	background: white;
}

.user-prof__head-content{
  // overflow: visible !important;

  padding: 20px;

  // padding: 10px 10px 10px 300px;

}

.user-prof__location{
  height: 100px;
  padding: 15px;
}

.profile__skill{
  background: $light-gray-color;
  padding: 7px;
  border-radius: 15px;
}

.user-prof__head-buttons{
  position: relative;
  // height: 100%;
}

.user-prof__head-buttons button{
  position: absolute;
  bottom: 10px;

}

.profile__btn{
  min-width: 70px;
  min-height: 35px;

}

.user-prof__secondary{
    height: 180px;
    overflow: auto;
    background: white;
    margin: 15px 0;
    padding: 15px;
}

.user-prof__followers{
  font-size: 1.5em;
}


.user-prof__name{
  // width: 100%;
  font-size: 1.8em;
}

.user-prof__cover-photo{
  // float: left;

  margin: auto;
  height: 100%;
  padding: 20px;
  position: relative;
}

.user-prof__cover-photo img{
	height: 100%;
  // float: left;
}

.prof__message{
 position: absolute; 
 bottom: 10px;  
 left: 10px 
}
