  <div class="feed__entry-inner feed__entry-inner--left">
    <%= thumb(entity, class: "thumb"){|t| image_tag t} %>
  </div>
  <div class="feed__entry-inner feed__entry-inner--middle">
    <div class="feed__entry-inner-title js-form-name">
      <%= entity.name %>
    </div>
    <%= yield %>
  </div>
