<div class="user-prof" ng-controller="ProfileController">
  <div class="user-prof__cover-photo">
    prof photo
    <div style="" class="prof__message">
      <%= button_to "Message", nil, :class => "js-msg__button button__btn button__btn--gray" %>
    </div>
    <div class="bus-prof__follow">
      <%= follow_button(current_user, @default_entity, :class =>  "button__form button__login", :style => "width: auto !important") %>
    </div>
  </div>
  <div class="feed">
    <div ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost, entity); feedHeadBody = feedHeadForm"></div>
    <div ng-repeat="entity in displayList | orderBy:'id': true">
      <div ng-include="'feed_content.html'"></div>
    </div>

  </div>

<!-- Modal -->
  <div ng-controller="PrivateMessageController" ng-if="profileEntity" >
    <div class="modal fade" id="js-msg__modal" tabindex="-1" role="dialog" aria-loabelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Private Message</h4>
          </div>
          <div class="modal-body">
            <div class="feed feed--tall">
              <div ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost); feedHeadBody = messageForm; entity = profileEntity"></div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>


