<div class="user-prof" >
  <div class="user-prof__head thirds">
    <div class="user-prof__cover-photo thirds__box">
      <img ng-src="{{profileEntity.thumb}}">
    </div>

    <div class="user-prof__head-content thirds__box">
      <div class="user-prof__name">
        {{profileEntity.name}}
      </div>

      <div class="user-prof__location">
        {{profileEntity.city}}
      </div>

      <div class="user-prof__followers">
        {{profileEntity.follower_count}} Followers
      </div>
    </div>
    
    <div class="user-prof__head-buttons thirds__box">
      <button style="float: left" class="js-msg__button button__btn button__btn--gray button__btn--left  profile__btn">
        Message
      </button>
        <button  style="float: right; text-transform: capitalize" class="button__form button__login button__btn--right profile__btn">Follow</button>
      </div>
    </div>

  
<!--     <div style="" class="prof__message">
      <button class="js-msg__button button__btn button__btn--gray">Message</button>
    </div>
    <div class="bus-prof__follow">
      <button class="button__form button__login" style="width: auto !important">Follow</button>
    </div> -->
  <!-- </div> -->

  <div class="user-prof__secondary">
    <div class="halves">
      <div class="halves__box">
        <p class="halves__box-row">About Me:</p>
        <p>{{profileEntity.about}}</p>

        <p class="halves__box-row">Skills:</p>
        <p></p>
      </div>

      <div class="halves__box">
        <p class="halves__box-row">Where I work:</p>
        <p>{{profileEntity.work}}</p>

        <p class="halves__box-row">Website:</p>
        <p>{{profileEntity.website}}</p>
      </div>
    </div> 

  </div>

  <div class="feed">
    <div ng-if="belongsToUser()" ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost, entity); feedHeadBody = feedHeadForm"></div>
    <div ng-repeat="entity in displayList | orderBy:'id': true">
      <div ng-include="'feed_content.html'"></div>
    </div>

  </div>

<!-- Modal -->
  <div ng-controller="PrivateMessageController" ng-if="profileEntity" >
    <div class="modal fade" id="js-msg__modal" tabindex="-1" role="dialog" aria-loabelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Private Message</h4>
          </div>
          <div class="modal-body">
            <div class="feed feed--tall">
              <div ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost); feedHeadBody = messageForm; entity = profileEntity"></div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>


