<div class="user-prof" ng-controller="ProfileController">
  <div class="user-prof__head">
    <div class="user-prof__cover-photo">
      <img ng-src="{{profileEntity.thumb}}">
    </div>

    <div class="user-prof__head-content">
      <div class="user-prof__name">
        {{profileEntity.name}}
      </div>

      <div class="user-prof__location">
        {{profileEntity.city}}
      </div>
    </div>
    
  
    <div style="" class="prof__message">
      <button class="js-msg__button button__btn button__btn--gray">Message</button>
    </div>
    <div class="bus-prof__follow">
      <button class="button__form button__login" style="width: auto !important">Follow</button>
    </div>
  </div>
  <div class="feed">
    <div ng-if="belongsToUser()" ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost, entity); feedHeadBody = feedHeadForm"></div>
    <div ng-repeat="entity in displayList | orderBy:'id': true">
      <div ng-include="'feed_content.html'"></div>
    </div>

  </div>

<!-- Modal -->
  <div ng-controller="PrivateMessageController" ng-if="profileEntity" >
    <div class="modal fade" id="js-msg__modal" tabindex="-1" role="dialog" aria-loabelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Private Message</h4>
          </div>
          <div class="modal-body">
            <div class="feed feed--tall">
              <div ng-include="'feed_head_outer.html'" ng-init="newPost = newPostMain; headOuterInit(newPost); feedHeadBody = messageForm; entity = profileEntity"></div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>


