<div class="profile__head thirds" style="background: white url('{{profileEntity.cover_photo_url}}');" ng-class="{'profile__head--white-text': profileEntity.cover_photo_url}">
  <div ng-click="addProfilePhoto()" ng-if="isEditable" class="profile__photo-edit">
     <div class="profile__head-link nm__link" style="font-size: 1em;">
      <i class="fa fa-upload"> </i> Edit Profile Photo
    </div>
  </div>

  <div class="top-right top-right--padding" ng-click="addCoverPhoto()" href ng-if="isEditable">
    <div ng-switch="profileEntity.cover_photo_url" class="nm__link">
      <div ng-switch-when="null" class="profile__head-link profile__head-link--no-cover">
        <a> <i class="fa fa-upload"></i> Add cover photo</a>
      </div>

      <div ng-switch-default class="profile__head-link">
        <i class="fa fa-pencil-square-o"></i> Change cover photo
      </div>
    </div>
  </div>


  <div class="profile__photo column-left">
    <img ng-src="{{profileEntity.thumb}}">
  </div>

  <div class="user-prof__head-content column-middle">
    <div class="user-prof__name">
      <a href editable-text="profileEntity.name" ng-if="isEditable">  {{profileEntity.name || "Enter a name!"}}
        </a>
      <span ng-if="!isEditable">{{profileEntity.name}}</span>

    </div>

    <div class="user-prof__location">
      <a href editable-text="profileEntity.city" ng-if="isEditable">   
        {{profileEntity.city || "Enter a city!"}}
       </a>
      <span ng-if="!isEditable">{{profileEntity.city}}</span>
    </div>

    <div class="user-prof__followers">
      {{profileEntity.follower_count}} Followers
    </div>
  </div>

  <div class="user-prof__head-buttons column-right">
    <div ng-if="!yours">
      <button ng-click="MessageService.callModal('js-msg__modal'); MessageService.setMessageEntity(profileEntity)" style="float: left" class="button__btn button__btn--gray button__btn--left button__btn--100">
        Message
      </button>
      <button ng-disabled="isFollowing" ng-click="AuthService.followerHandle2(profileEntity, isFollowing, followerCallback)" class="button__btn  button__btn--right button__btn--right--padding button__btn--100" ng-class="{'button__btn--light-gray' : isFollowing, 'button__btn--orange' : !isFollowing}">{{followButtonText}}
      </button>

    </div>

    <div ng-if="yours">
      <button ng-click="editProfile()" style="float: left" class="js-msg__button button__btn button__btn--gray button__btn--left  profile__btn">{{editProfileText}}</button>
    </div>
  </div>
</div>