<div class="aud__member connect {{audMemberClass($index)}}">
  <div class="top-right " style="top: 2px; right: 10px;">
    <span ng-if="entity.isFollowing()">
      <i class="fa fa-arrow-right"></i>
    </span>
    <span ng-if="entity.isFollower()"> 
      <i class="fa fa-arrow-left"></i>
    </span>
  </div>

  <div style="height: 130px; background: white; padding: 15px;">
    <div style="width: 100px; height: 100px; margin-right: 15px;" class="left thumb--100">
      <img ng-src="{{entity.thumb}}">

    </div>
    <div class="nm__item-name nm__bold">
      <a ng-href="{{entity.models.entity.uri}}">{{entity.name}}</a>
    </div>

    <div>
      <a ng-href={{entity.associatedEntities[0].link()}}>{{entity.associatedEntities[0].getName()}}</a>
    </div>
    <div style="margin-top: 15px">
      {{entity.models.entity.followerCount()}} Followers
    </div>
    <div>
     </i>{{entity.interactions || 0}} Interactions ({{entity.interactionsIn}} <i style="font-weight: light; font-size: .8em" class="fa fa-arrow-left"></i>)
    </div>
    <div ng-switch="entity.models.entity.getType()">
      <div ng-switch-when="Business">
        
      </div>
      <div ng-switch-when="User">
      
      </div>
    </div>
  </div>

</div>