<div ng-if="AuthService.currentEntitySelection.selected" ng-init="init()">

  <!-- <div ng-include="'feed_head_outer.html'"></div> -->

  <div class="row">

    <div class="col-sm-6">
      <ui-select ng-model="filterVal.selected">
        <ui-select-match placeholder="Filter by">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices group-by="filterGroup" repeat="item in filterOptions">
          <div ng-bind-html="Utilities.trustAsHtml(item.name)">{{item.name}}</div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="col-sm-6">
      <ui-select ng-model="sortVal.selected">
        <ui-select-match placeholder="Sort by">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="item in sortOptions">
          <div ng-bind-html="Utilities.trustAsHtml(item.name)">{{item.name}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div>
    <input type="checkbox" ng-model="followerFilter" ng-checked="followerFilter" name="business-filter">
    <label name="followers-filter">FollowerLists</label>
  </div>

  <div>
    <input type="checkbox" ng-model="followingFilter" ng-checked="followingFilter">
    <label name="following-filter">Following</label>
  </div>

  <div class="aud__members">
    <div ng-repeat="entity in currentDisplayEntity().allConnections
    | audienceTypeFilter:AuthService.currentEntitySelection.selected:followerFilter:followingFilter 
    | orderBy:sortVal.selected.name 
    | userBusinessFilter:filterVal.selected">
     <div ng-include="'audience_item.html'"></div>
    </div>
  </div>
</div>