<div ng-if="AuthService.currentEntitySelection.selected" ng-init="init()">

  <!-- <div ng-include="'feed_head_outer.html'"></div> -->

  <div class="row">

    <div class="col-sm-6">
      <ui-select ng-model="filterVal.selected">
        <ui-select-match placeholder="Filter by">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices group-by="filterGroup" repeat="item in filterOptions">
          <div ng-bind-html="Utilities.trustAsHtml(item.name)">{{item.name}}</div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="col-sm-6">
      <ui-select ng-model="sortVal.selected">
        <ui-select-match placeholder="Sort by">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="item in sortOptions">
          <div ng-bind-html="Utilities.trustAsHtml(item.name)">{{item.name}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div>
    <input type="checkbox" ng-model="followerFilter" ng-checked="followerFilter" name="business-filter">
    <label name="followers-filter">FollowerLists</label>
  </div>

  <div>
    <input type="checkbox" ng-model="followingFilter" ng-checked="followingFilter">
    <label name="following-filter">Following</label>
  </div>

  <div class="aud__members">
    <div ng-repeat="entity in currentDisplayEntity().allConnections
    | audienceTypeFilter:AuthService.currentEntitySelection.selected:followerFilter:followingFilter 
    | orderBy:sortVal.selected.name 
    | userBusinessFilter:filterVal.selected">
      <div class="aud__member connect {{audMemberClass($index)}}">
        <div class="top-right " style="top: 2px; right: 10px;">
          <span ng-if="entity.isFollowing()">
            <i class="fa fa-arrow-right"></i>
          </span>
          <span ng-if="entity.isFollower()"> 
            <i class="fa fa-arrow-left"></i>
          </span>


        </div>
        <div style="height: 130px; background: white; padding: 15px;">
          <div style="width: 100px; height: 100px; margin-right: 15px;" class="left thumb--100">
            <img ng-src="{{entity.thumb}}">

          </div>
          <div class="nm__item-name nm__bold">
            <a ng-href="{{entity.models.entity.uri}}">{{entity.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>