 
 <div ng-click="visitProfile(business.uri)" class="bus__item utils__hover--orange">
    <img ng-src={{business.thumb}}></img>
    <div class="bus__item-top">
      {{business.name}}
    </div>

    <div class="bus__item-bottom">
      <span class="bus__item-follow">
        <a ng-click="" ng-href="#">follow</a>
      </span>

      <span class="bus__item-message">
        <a ng-click="MessageService.callModal('js-msg__modal'); MessageService.setMessageEntity(business)" ng-href="#">message</a>

      </span>
    </div>
</div>