<div ng-controller="BusinessDirectoryController">
  <div class="bus">
    <div class="thirds bus__top">

      <div class="thirds__box bus__rand utils__hover--orange" ng-repeat="business in businesses" ng-click="randomClick(business)">
        <div class="bus__rand-title">
          {{business.name}}
        </div>
        <img ng-src={{business.thumb}}></img>
      </div>
    </div>
    <div class="bus__search">
      <!-- <form ng-submit="submit()"> -->
        <input class="form-control bus__search-input" type="text" ng-model="query" name="query" placeholder="Person, business, hit enter"/>
      <!-- </form> -->
    </div>

    <div>
      <input type="checkbox" ng-model="businessFilter" ng-checked="businessFilter" name="business-filter">
      <label name="business-filter">Businesses</label>
    </div>
    <div>
      <input type="checkbox" ng-model="personFilter" ng-checked="personFilter" >
      <label name="person-filter">People</label>
    </div>
    <div class="bus__alph">
      <span ng-repeat="letter in alphabet">
        <span class="bus__alph-letter" ng-click="letterClick(letter)">
          <a href=""> {{letter}} </a>
        </span>
      </span>
    </div>
   <!--  <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div> -->
    <div class="bus__list">
      <div ng-repeat="business in displayList | orderBy:'name': false | entityFilter:personFilter:businessFilter">
       <div ng-include="'business_item.html'"></div>
      </div>
      <div class="bus__none" ng-hide="displayList.length">
        Find some more businesses!
      </div>
    </div>
  </div>
</div>