 
 <div  class="bus__item utils__hover--orange">
    <img ng-src={{business.thumb}}></img>
    <div class="bus__item-top">
      <a ng-href="{{business.uri}}">{{business.name}}</a>
    </div>

    <div class="bus__item-bottom">
      <span class="bus__item-follow">
        <a ng-click="" ng-href="#">follow</a>
      </span>

      <span class="bus__item-message">
        <a ng-click="MessageService.callModal('js-msg__modal', $event); MessageService.setMessageEntity(business)" ng-href="#">message</a>

      </span>
    </div>
</div>