<div class="feed__content-outer">
  <div class="feed__content">
    <div class="feed__content-title">
      <div class="thumb">
        <img ng-src="{{entity.thumb}}">
      </div>
      <div class="feed_content-follow">
        <a ng-click="AuthService.followerHandle(entity, followerCallback)" href="#">{{entity.followerUriType}}</a>

      </div>
    </div>
    <div class="feed__content-top">
      <a ng-href="{{entity.uri}}">{{entity.name}}</a>
    </div>
    <div class="feed__content-body">
      {{entity.content}}
    </div>
    <div class="feed__content-corner">
      <div class="row">
        <div class="col-sm-7 feed__time">
            <span ng-if="Utilities.exceedThreshold(entity.timeFromNow)">{{entity.timeStamp | amDateFormat:'MMMM Do'}}</span>
            <span  ng-if="!Utilities.exceedThreshold(entity.timeFromNow)"
             am-time-ago="entity.timeStamp">Test2</span>
          </div>
        <div class="col-sm-2 feed__comment-expand">
          <a ng-click="expand = !expand" href="#">Comment</a>
        </div>
      </div>
     <!-- <div ng-include="feedContentPartial"></div> -->
    </div>
  </div>
  <!--  -->
  <div class="feed__comment-container">
    <div class="feed__content feed__content--comment slide"  ng-show="expand ">
      <div class="feed__comment-container">
        <!-- <div ng-init="newPost = entity.newPost; newPost.type = 'Response'; newPost.parentId = entity.id" ng-include="'feed_head_outer.html'"></div> -->
        <div ng-if="expand">
          <div ng-init="newPost = entity.newPost; commentHeadOuterInit(newPost, entity)" ng-include="'feed_head_outer.html'">
          </div>
        </div>
      </div>
    </div>
    <div ng-include="feedCornerPartial"></div>
  <!--  -->
  </div>
</div>
