    
<div class="feed__entry ">
  <div style="float:right">
    <ui-select ng-model="AuthService.currentEntitySelection.selected">
      <ui-select-match placeholder="Current Entity">
        {{$select.selected.name}}
      </ui-select-match>
      <ui-select-choices repeat="item in AuthService.entityOptions">
        <div ng-bind-html="Utilities.trustAsHtml(item.name)">{{item.name}}</div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="feed__entry-inner feed__entry-inner--left">
    <div class="thumb">
      <img ng-src="{{AuthService.currentEntitySelection.selected.thumb}}" >
    </div>
    <!-- thumb -->
  </div>
  <div class="feed__entry-inner feed__entry-inner--middle">
    <div class="feed__entry-inner-title js-form-name">
      {{AuthService.currentEntitySelection.selected.name}}
      <!-- name -->
    </div>
      <div ng-include="feedHeadBody"></div>
  </div>
</div>