<div flow-init="{target: profileEntity.uri+'/photos.json', testChunks:false, query:{type: delegate.photoType}}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="delegate.successCallback($message)"
     style=" text-align: center"
     >

<div  flow-drop class="photo-up profile__head"
ng-class="{'profile__head--white-text': lastPhoto(delegate.photoArray)}"
  flow-drag-enter="class='photo-up photo-up--drag'"
  flow-drag-leave="style={}"
  style="height: 200px; width: 735px;"

  >

    <div   id="cropped-image">
      <div class="nm__abs-centered">Drop and preview image here</div>
      <img id="preview"  ng-src="{{lastPhoto(delegate.photoArray)}}">
  </div>

    
</div>
 <!--  <div class="profile__head" style="background: white url('{{delegate.photoArray[delegate.photoArray.length - 1].url}}');" flow-drop class="photo-up" 
  flow-drag-enter="class='photo-up photo-up--drag'"
  flow-drag-leave="style={}"
       >

    {{delegate.message}}
  </div> -->
  <input type="file" flow-btn/>
  <button ng-if="lastPhoto(delegate.photoArray)" ng-click="delegate.approval(photo)" class="btn btn-primary">
    Approve? 
  </button>

  <div >
    <div class="row">
      <div lass="col-sm-6">

        <img-cropped src="{{trustSrc(lastPhoto(delegate.photoArray))}}"></img-cropped> 
      
    </div>
  </div>

<!--   <div ng-repeat="photo in delegate.photoArray">
    <div class="row">
      <div ng-if="photo.url" class="col-sm-6">

        <img-cropped src="{{trustSrc(photo.url)}}"></img-cropped> 
      
    </div>
  </div> -->


  <!-- <div class="thumb--100" ng-repeat="photo in delegate.photoArray">
    <div class="row">
      <div class="col-sm-6">
        <img ng-src="{{photo.url}}">
      </div>
      <div class="left">
        <button ng-click="delegate.approval(photo)" class="btn btn-primary">
          Approve? 
        </button>
      </div>
    </div>
  </div> -->
<!-- </div> -->
