<div class="profile__right-box profile__right-box--large">
  <div class="nm__map nm__map--small">
    <div ng-init="MapService.onMapDivLoad()" style="height: 100%; width: 100%" id="map">
      Google Map Container
    </div>
  </div>
</div>


<div class="profile__right-box profile__right-box--large profile__rght-box--padding">
  <h4> {{delegate.profile.profileEntity.name}}'s People </h4>
  <a ng-href="{{delegate.profile.businessOwner.uri}}">
  {{delegate.profile.businessOwner.name}}</a>
</div>


<div class="row" style="height: 38px">
  <div class="col-sm-6" style="text-align: right">
    <div ng-show="delegate.isYours() != null && !delegate.isYours()">
      <button ng-click="delegate.ReviewService.callModal()" class="button__btn button__btn--orange">Review
      </button>
    </div>
  </div>
  <div style="font-size: 1.4em" class="col-sm-6"> 
    <span ng-show="delegate.profile.reviewList.length > 0">
      Rating: {{ReviewService.averageScore(delegate.entity.reviews)}} 
    </span>
  </div>
  
</div>

<div class="review profile__right-box profile__right-box--small">
  
  <div ng-repeat="review in delegate.profile.reviewList | orderBy:'id':true">
    <div class="review__item">
      {{review.score}}/5
      <div class="review__item-thumb thumb thumb--44">
        <img ng-src="{{review.reviewer.thumb}}">

      </div>
      <div class="review__item-main">
        <div class="review__item-title">    
          {{review.reviewer.name}}

        </div>

        <div class="review__item-content">
          {{review.content}}
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'modals/review_modal.html'"></div>