
<div 
ng-if="SideBar.profileScope.profileEntity" 
class="profile__right-box"
ng-init="initRightBarExternal()"
>

<div class="center-text">
  <div class="profile__box-title">
    {{SideBar.profileScope.profileEntity.first_name}}'s Businesses
  </div>

  <div class="bus__list">
    <div ng-repeat="business in SideBar.profileScope.profileEntityBusinesses | orderBy:'name': false ">
      <div ng-include="'business_item.html'"></div>
   <!--  <div class="bus__none" ng-hide="displayList.length">
      Find some more businesses!
    </div> -->
  </div>
</div>
</div>
