<div ng-if="SideBar" class="tab-bar" ng-class="{'tab-bar--disabled': SideBar.tabBarDisabled == true}">
  <div
    ng-disabled="SideBar.tabBarDisabled"
    class="tab-bar__item" 
    ng-repeat="entity in ownedEntities"
    ng-class="{'tab-bar__item--selected' : Utilities.entityCompare(entity, AuthService.currentEntitySelection.selected)}"
    ng-click="SideBar.tabBarDisabled || tabItemClick(entity)"
    >
    {{entity.name}}
    <span>
       ({{entity.ownedUnreadMessages.length}})
  </span>
  </div>
</div>
