<div class="profile__right-box profile__right-box--large">
  map
</div>

<div class="profile__right-box profile__right-box--small">
  info
</div>

<div class="profile__right-box profile__right-box--large">
  <h4> Reviews </h4>

  reviews
</div>