
<div class="profile__right-box profile__right-box--large">
  <div style='width: 380px;'>
    <div id="map" style='width: 380px; height: 400px;'></div>
  </div>
</div>

<div class="profile__right-box profile__right-box--small">
  info
</div>

<div class="profile__right-box profile__right-box--large">
  <h4> Reviews </h4>

  reviews
</div>