<script type="text/javascript">

function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),
            myOptions);
}
google.maps.event.addDomListener(window, "load", initialize);

</script>
<div class="profile__right-box profile__right-box--large">
  <div style='width: 350px;'>
    <div id="map" style='width: 350px; height: 400px;'></div>
  </div>
</div>

<div class="profile__right-box profile__right-box--small">
  info
</div>

<div class="profile__right-box profile__right-box--large">
  <h4> Reviews </h4>

  reviews
</div>