<div class="profile__right-box profile__right-box--large">
  map
</div>

<div class="profile__right-box profile__right-box--small">
  <h4> Companies </h4>

    
</div>

<div class="profile__right-box profile__right-box--large">
  <h4> Mentoring </h4>


</div>