 <div class="container-fluid container-bottom__temp">

        <% LANDING['sections'].each_with_index do |info, i| %>
          <span> <%= fa_icon info["icon"] %></span>
          <span> <%= info["title"] %></span>
        <% end %>
  
      <div class="about__temp">
        <div class="info__bottom-temp">
          <div class="title__info-bottom-temp">
            <%= LANDING["about"]["title"] %>
          </div>
          <div class="body__info-bottom-temp">
            <%= LANDING["about"]["body"] %>

          </div>
        </div>
      </div>
    </div>