@import "nm_root";

.feed{
  width: 98%;
}


.feed img{
  width: 100%;
  height: 100%;
}
.feed__entry{
  // padding: 15px;
  // text-align: center;
  // margin: 0 auto;
  position: relative;
  height: 150px;
  background: white;
  overflow: auto;
  padding: 10px;
  margin-top: 20px;
}

.feed--tall .feed__entry{
  // height: 250px;
}

.feed__content{
  // height: 100px;
}
.feed--small .feed__entry{
  // height: 100px !important;
}
.feed__head{
  background: white;
  padding: 5px;
}

.feed_content-follow{
  margin-top: 2px;
  text-align: center;
}

.feed__entry--comment{
  background: whitesmoke;
  margin-top: 0;
}

.feed__comment-content img{
  height: 50px !important;
  width: 50px !important;
}

.feed__input-row{
  margin: auto;
}

.feed__input-item{
  display: inline-block;
}

.feed__input-item--large{
  width: 80%;
}

.feed__input-item--small{
  width: 15%;
}

.feed__comment-content{
  // display: none;
  // height: 100px;
  width: 98%;
  // background: whitesmoke;
  float: right;
  border: 1px solid $lighter-gray-color;
}

.feed__comment-input{
  display: none;
  // height: 100px;

}

.feed__button{
  margin: !important;
}

.feed__button--inline{
  height: 100%;
  outline: none;
  background: $orange-color;

}
.feed__content-top{
  padding: 5px;
  color: $light-gray-color;
}
.feed__entry-select{
  padding: 0 10px;
  float: left;
  margin: auto;
  width: 150px;
  margin-top: 7px;

  display: inline-block;
  // width: 15%;
}
.feed__content{
  overflow: auto;
  position: relative;
  width: 100%;
  background: white;
  padding: 10px;
  overflow: auto;

}

.feed__content--comment{
  background: whitesmoke;
  padding: 0 5px;
}
.feed__content-outer{
  margin: 5px 0;
  height: 100%;
  overflow: auto;
}
.feed__content-corner{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 250px;
}
.feed__content-title{
  // width: 150px;
  margin-right: 15px;
  float: left;
  height: 100%;
  clear: both;
  // background: green;
}


.feed__comment-container .feed__content-outer{
  margin: 0 !important;
}
.feed__content-body{
  // background: red;
} 

.feed__entry-inner{
  // width: 100%;
  height: 100%;
  // overflow: auto;
  // display: inline-block
}
.feed__entry-inner--right{
  width: 12%;
  position: relative;
  height: 90%;

  // background: red;
}

.feed__entry-inner--right input{
  position: absolute;
}
.feed__select-title{
  position: absolute;
  top: 20%;
}
.feed__entry-inner--middle{
  overflow: auto;

}

.feed__entry-inner--left{
  overflow: auto;
  // width: 15%;
  float: left;
  // background: green;
}

.feed__contents{
  width: 100%;
}

.feed__entry-inner-title{
  margin-left: 15px;
}

.feed__entry-inner-main{
  margin-left: 15px;
}
.feed__form-bottom{
  padding: 0 10px;
  margin-top: 5px;
}
.feed__form-send{
  // overflow: auto;
  text-align: right;
  display: inline-block;
  float: right;
  width: 100px;
}

// .feed__entry-input--comment{
//   background: white !important;
// }

.feed__entry--comment .feed__entry-input{
  background: white !important;
}

.feed__time{
  color: $light-gray-color;
}

#js-msg__modal .modal-body{
  max-height: 1000px;
}

.feed__entry--comment .thumb img, .feed__content--comment .thumb img{
  height: 80px;
  width: 80px;

}

.feed__content--comment .feed__comment-expand{
  display: none;
}

.feed__content--comment.slide{
  display: none;
}

.feed__entry--comment .feed__entry-inner-title{
  display: none;
}


.feed__entry-input{
  // display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px 5px 0px 10px;
    margin: 2px auto;
    border: none;
    background: $lightest-gray-color;
    outline: none;
    resize: none;
}