.photo{
  width: 270px;
  height: 450px;
  margin: 20px auto 0 auto;
}

.photo__parent-force-small img{
  max-width: 700px;
}

.photo__box--cover{
  height: 250px; 
  width: 735px;
}

.photo--profile img{
  height: 165px; 
  width: 165px;
}
.photo__box--prof{
  height: 165px; 
  width: 165px;
  margin: auto;
}


.photo__box{
  position: relative;
}
.photo--cover .photo__box{
  height: 250px; 
  width: 735px;
}

.photo--prof .photo__box{
  height: 165px; 
  width: 165px;
}

.main__photo{
  text-align: center;
  height: 65%;
  background: white;
  overflow: hidden;
  width: 100%;
  background: image-url("nm_camera.png") no-repeat center center; 
  background-color: white;
  $mult: .65px;
  background-size: 192*$mult 142*$mult;
  margin-bottom: 15px;
}

.button__form--full{
  width: 100% !important;
}

.file-upload {
  position: relative;
}

.file-upload  input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.thumb--100 img{
  height: auto;
  width: 100px;
}

.thumb--85 img{
  height: auto;
  width: 100px;
}

.thumb--75 img{
  height: auto;
  width: 75px;
}

.thumb--35 img{
  height: auto;
  width: 35px;
}

.thumb--200 img{
  height: auto;
  width: 200px;
}

.thumb--80 img{
  height: auto;
  width: 80px;
}